body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fff8f5;
}

header {
  background-color: #ffb6b9;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #333;
}

.main-img {
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  margin: 20px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #ff6f91;
}

section {
  padding: 20px;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #ff6f91;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ff3b6b;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
